.wrapper {
    display: inline-block;
    position: relative;
}
.toggle {
    display: inline-block;
    background-color: aquamarine;
}
.arrow {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 15px solid blue;
    position: absolute;
    right: 0;
    top: 0;
}
.dropdown {
    display: none;
    background-color: pink;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.option {
    background-color: green
}

.wrapper:hover .dropdown {
    display: block;
}
