.wrapper {
    display: inline-block;
    position: relative;
}
.toggle {
    display: inline-block;
    background-color: aquamarine;
    padding-right: 15px;
}
.arrow {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 15px solid blue;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper:hover .arrow {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 15px solid red;
    border-top: none;
}

.dropdown {
    display: none;
    background-color: pink;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.option {
    background-color: green
}

.option:hover {
    background-color: lightgreen;
}

.wrapper:hover .dropdown {
    display: block;
}
